<div class="container-fluid">
    <h1 class="text-center p-md-3">Products</h1>
    <div class="row ps-md-3">
        <div class="bg-body-tertiary col-lg-6  pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 p-3">
                <h2 class="display-5">Another headline</h2>
                <p class="lead">And an even wittier subheading.</p>
            </div>
            <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
            </div>
        </div>
        <div class="text-bg-dark col-lg-6 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 py-3">
                <h2 class="display-5">Another headline</h2>
                <p class="lead">And an even wittier subheading.</p>
            </div>
            <div class="bg-body-tertiary shadow-sm mx-auto"
                style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
        </div>

    </div>
</div>